@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    font-family: 'Inconsolata';
}

body {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;    
}


button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2px;
    
}

input[type="text"]{
    border-radius: 5px;
    padding: 2px;   
}

#tarefas1{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.task-item{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

:checked + label {
    text-decoration: line-through;
    color: red;
    
}
